{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<form action="#" method="post">
	<p>Category:</p>
	<p><input type="text" category="cat" /></p>
    <p>Year:</p>
	<p><input type="text" year="yr" /></p>
    <p>Firstname:</p>
	<p><input type="text" firstname="fn" /></p>
    <p>Surname:</p>
	<p><input type="text" surname="sr" /></p>
    <p>Id:</p>
	<p><input type="text" Id="id" /></p>
    <p>Motivation:</p>
	<p><input type="text" motivation="mt" /></p>
    <p>Share:</p>
	<p><input type="text" share="sh" /></p> 
	<p><input type="submit" value="submit"/></p>
</form>
{% endblock %}